<h2 class="d-flex justify-content-center text-danger">Thêm mới khách hàng</h2>
<form>
  <div class="m-4 row">
    <div class="col-sm-2">Customer Type Name</div>
    <select formControlName="customerType">
      <option value="diamond">diamond</option>
      <option value="member">member</option>
    </select>
  </div>
  <div class="m-4 row">
    <label  class="col-sm-2 col-form-label">Name: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="name">
      <p style="position: absolute" class="text-danger"></p>
    </div>
  </div>
  <div class="m-4 row">
    <label class="col-sm-2 col-form-label">Date Of Birth: </label>
    <div class="col-sm-10">
      <input type="date" class="form-control" formControlName="dateOfBirth">
      <p  style="position: absolute" class="text-danger"></p>
    </div>
  </div>
  <div class="m-4 row">
    <label class="col-sm-2">Gender: </label>
    <div class="col-sm-10">
      <label>
        <input formControlName="gender" value="true" type="radio" >
      </label>Nam
      <label>
        <input formControlName="gender" value="false" type="radio" >
      </label>Nữ
    </div>
  </div>
  <div class="m-4 row">
    <label class="col-sm-2 col-form-label">ID Card: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" >
      <p  style="position: absolute" class="text-danger"></p>
    </div>
  </div>
  <div class="m-4 row">
    <label  class="col-sm-2 col-form-label">Phone Number: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" >
      <p  style="position: absolute" class="text-danger"></p>
    </div>
  </div>
  <div class="m-4 row">
    <label class="col-sm-2 col-form-label">Email: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" >
      <p  style="position: absolute" class="text-danger"></p>
    </div>
  </div>
  <div class="m-4 row">
    <label class="col-sm-2 col-form-label">Address: </label>
    <div class="col-sm-10">
      <input type="text" class="form-control" >
    </div>
  </div>
  <button type="submit" class="d-flex justify-content-center" style="margin: 0 auto">Save</button>
</form>
