<nav class="navbar navbar-expand-lg bg-success navbar-light bg-light sticky-top">
  <div class="container-fluid bg-success">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex justify-content-center ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Customer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Service</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page">Contract</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
